<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.swu.swugiftshop">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ItemDetail"></activity>
        <activity android:name=".MakeFundingEditActivity2" />
        <activity android:name=".MakeFundingEditActivity" />
        <activity android:name=".MyFundingActivity"/>
        <activity android:name=".Mypage_purchaseActivity" />
        <activity android:name=".EmptyFundingActivity" />
        <activity android:name=".MainListViewActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ItemSearchActivity" />
        <activity android:name=".FundingDetailpageActivity1" />
        <activity android:name=".DetailpageActivity1">
        </activity>
        <activity android:name=".DetailpageActivity2" />
        <activity android:name=".DetailpageActivity3" />
        <activity android:name=".DetailpageActivity4" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".LogInActivity">
        </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>